:root {
    --primary-color: #DED4E8;
    --secondary-color: #E8BA40;
    --tertiary-color: #C7395F;
    --quaternary-color: #685634;
    --nav-bar-height: 75px;
}

body {
    padding-top: 56px; /* Height of navbar */
}

html {
    scroll-behavior: smooth; /* Smooth scrolling */
}
