:root {
  --dark-green: #013e01;
  --medium-green: #00A550;
  --light-green: #90EE90;
}

body {
    padding-top: 56px;
}

html {
    scroll-behavior: smooth;
}

.navbar{
  background-color: var(--dark-green);
}

.navbar a{
  color: #fff;
}

#about-section {
  background-color: #eaf9ea;
}

#projects-section {
  background-color: #e0f2e0;
}

#contact-section {
  background-color: #eaf9ea;
}

.btn-primary {
  background-color: var(--dark-green) !important;
  border-color: var(--dark-green) !important;
}

.btn-primary:hover{
  background-color: var(--medium-green) !important;
  border-color: var(--medium-green) !important;
}

.btn-secondary{
  background-color: var(--medium-green) !important;
  border-color: var(--medium-green) !important;
}
